{% extends "baseadmin.html.twig" %}

{% block body %}
 <p class="text-right">
     <a href="{{ path('admin.formation.ajout') }}" class="btn btn-primary">
         Ajouter une nouvelle formation
     </a>
 </p> 
 <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Formation
                    <a href="{{ path('formations.sort', {champ:'title', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('formations.sort', {champ:'title', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('formations.findallcontain', {champ:'title'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche">
                        </div>
                        <input type="hidden" name="_token" value="{{ csrf_token('filtre_title') }}">
                        <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                    </form>
                </th>
                <th>
                    Niveau
                    <a href="{{ path('formations.sort', {champ:'niveau', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('formations.sort', {champ:'niveau', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>                                                                              
                    <form class="form-inline mt-1" method="POST" action="{{ path('formations.findallbyniveau', {champ:'niveau'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche">
                        </div>
                        <input type="hidden" name="_token" value="{{ csrf_token('filtre_niveau') }}">
                        <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>                                       
                    </form>                     
                </th>
                <th>
                    Date
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                    <td>
                        <h5 class="text-primary">
                            {{ formation.title }}
                        </h5>
                    </td>
                    <td>
                        {{ formation.niveau.niveau }}
                    </td>
                    <td>
                        {{ formation.publishedatstring }}
                    </td>
                    <td>
                        <a href="{{ path('admin.formation.edit', {id:formation.id}) }}" class="btn btn-secondary">Editer</a>
                        <a href="{{ path('admin.formation.suppr', {id:formation.id}) }}"class="btn btn-danger"" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ formation.title }} ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   
{% endblock %}